* {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
  font: normal 400 18px lato, sans-serif;
  min-width: 320px; /* prevents layout from breaking on tiny screens */
}
.top-bar {
  position: fixed;
  height: 46px;
  width: 100%;
  top: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px black;
  z-index: 9997;
}
.top-bar-black {
  position: fixed;
  height: 46px;
  width: 100%;
  top: 0px;
  background-color: black;
  z-index: 9997;
}
.seasons-thumbnail {
  width: 34px;
  height: 34px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 8px;
  float: left;
  padding: 0;
  background: url(./images/glass-montage-balanced-button.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.hamburger {
  width: 38px;
  height: 38px;
  margin-top: 1px;
  margin-bottom: 7px;
  margin-right: 7px;
  float: right;
  padding: 0;
  font-size: 37px;
  color: white;
}

header {
  height: 240px;
  margin-top: 46px;
  background:url(./images/glass-montage-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0px 4px 6px black;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px 6px black;
  /* text-shadow: 0px 3px 6px black; */
  text-align: center;
}
.header-dark {
  box-shadow: 0px 4px 6px black !important;
}
.name {
  height: 80px;
  position: relative;
  width: 90%;
  margin: auto;
  top: calc(50% - 40px);
  background-color: rgba(0,0,0,.19);
  /* background-color: rgba(0,0,0,.15); */
  /* box-shadow: 0px 0px 30px black; */
  /* box-shadow: 0px 0px 30px rgba(0,0,0,.32); */
  box-shadow: 0px 0px 30px rgba(0,0,0,.35);
}
#name {
  font-size: 32px;
  margin: 0px;
}
#title {
  font-size: 20px;
  margin: 0px;
}
.div-line-header {
  height: 1px;
  width: 95%;
  position: relative;
  top: 310px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #989898;
  position: absolute;
  z-index: -1;
}
.spacer {
  height: 5px;
}
.p-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-top: 93px;
  margin-bottom: 11px;
}
.div-line {
  display: none;
  height: 1px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
}
.app-container {
  margin-top: 20px;
}
.app-spacer {
  height: 0px;
}
.app-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -.02em; /* = (Adobe XD line spacing / 1000)em */ 
  margin-top: 0px;
  margin-bottom: 10px;
}
.app-about {
  margin: 0px;
}
.app-links {
  font-weight: 700;
}
.app-tech {
  font-size: 16px;
  font-style: italic;
}
.app-image img {
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

/* COLOR LIBRARY ========================== */
  .color-red {
    color: rgb(238,36,36);
  }
  .color-purple {
    color: rgb(157,89,234);
  }
  .color-mod-purple {
    color: rgb(181,53,155)
  }
  .color-orange {
    color: rgb(254,153,0);
  }

/* FONT TRICKS ============================ */
  .bold {
    font-weight: 700;
  }
  .size-24 {
    font-size: 24px;
  }


/* CSS GRID =============================== */
.row {
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col-3, .col-4, .col-6, .col-6-links, .col-12 {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding-left: 0%;
  padding-right: 0%;
}
.right {
  float: right;
}

/* SITE-WIDE VIEWPORT RESPONSE ========================== */
@media only screen and (max-width: 460px) and (orientation: portrait) {
  header {
    max-height: calc(33vh);
  }
}
@media only screen and (min-width: 1024px) {
  .col-6 {
    width: 50%;
  }
  header {
    min-height: calc(45vh);
    box-shadow: 0px 6px 6px black;
  }
  .spacer {
    height: 60px;
  }
  .app-spacer {
    height: 55px;
  }
  .name {
    height: 150px;
    top: calc(50% - 75px);
  }
  #name {
    font-size: 55px;
  }
  #title {
    font-size: 38px;
  }
}