* {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
  font: normal 400 18px lato, sans-serif;
  min-width: 320px; /* prevents layout from breaking on tiny screens */
}
.top-bar {
  position: fixed;
  height: 46px;
  width: 100%;
  top: 0px;
  background-color: white;
  box-shadow: 0px 3px 4px 1px #000000e0;
  /* box-shadow: 0px 3px 4px 2px #000000e0; */
  z-index: 9997;
}
.top-bar-black {
  position: fixed;
  height: 46px;
  width: 100%;
  top: 0px;
  background-color: #131d2e;
  z-index: 9997;
}
.seasons-thumbnail {
  width: 34px;
  height: 34px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 2.56%;
  float: left;
  padding: 0;
  background: url(./images/glass-montage-balanced-button.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.hamburger {
  width: 38px;
  height: 38px;
  margin-top: 1px;
  margin-bottom: 7px;
  margin-right: 2.49%;
  float: right;
  padding: 0;
  font-size: 37px;
  color: #818181;
}

header {
  height: 100vh;
  max-height: calc((100vw / 1.217));
  background:url(./images/glass-montage-balanced-no-margin-top-and-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: calc((100vh - (100vw / 1.217)) * .5);
  margin-bottom: calc((100vh - (100vw / 1.217)) * .5);
  /* background-attachment: fixed; */
  /* background-color: #141e30; */
  /* box-shadow: inset 0px 0px 6px 8px #000000e0; */
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px 6px black;
  text-align: center;
}
.header-dark {
  box-shadow: 0px 4px 6px black !important;
}
.name {
  position: relative;
  /* width: 90%; */
  /* margin: auto; */
  padding-left: 10px;
  padding-right: 10px;
  top: calc(50% - 52px);
  /*   background-color: rgba(0,0,0,.19); */
  background-color: rgba(0,0,0,.08);
  /* background-color: rgba(0,0,0,.15); */
  /* box-shadow: 0px 0px 30px black; */
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
  /* box-shadow: 0px 0px 30px rgba(0,0,0,.32); */
  /* box-shadow: 0px 0px 30px rgba(0,0,0,.35); */
  /* border: 1px solid white; */
}
#name {
  font-size: 32px;
  margin: 0px;
}
#title {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.portfolio-button {
  position: relative;
  width: 180px;
  border-radius: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 47%;
  font-weight: 700 !important;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 23px rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 50px;
}
.portfolio {
  font-weight: 700;
  color: #565656;
}
.port-title {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  top: calc(50% - 14px);
  background-color: rgba(0,0,0,.08);  
  box-shadow: 0px 0px 30px rgba(0,0,0,.79);
}
#port-title {

}
.div-line-header {
  height: 1px;
  width: 95%;
  position: relative;
  top: 310px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #989898;
  position: absolute;
  z-index: -1;
}
.banner-spacer {
  height: 45px;
}
.spacer {
  height: 0px;
}
.p-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-top: 93px;
  margin-bottom: 11px;
}
.div-line {
  display: none;
  height: 1px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
}
.seasons-div {
  height: 18vh;
  box-shadow: 0px 0px 10px 1px #000000b3;
}
.spring {
  background:url(./images/glass-spring-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 28%;
  background-size: 100%;
  background-attachment: fixed;
}
.summer {
  background:url(./images/glass-summer-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 32%;
  background-size: 100%;
  background-attachment: fixed;
}
.autumn {
  background:url(./images/glass-fall-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 100%;
  background-attachment: fixed;
}
.winter {
  background:url(./images/glass-winter-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 100%;
  background-attachment: fixed;
}
.app-container {
  margin-top: 20px;
}
.app-spacer {
  height: 0px;
}
.app-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -.02em; /* = (Adobe XD line spacing / 1000)em */ 
  margin-top: 0px;
  margin-bottom: 10px;
}
.app-about {
  margin: 0px;
}
.app-links {
  font-weight: 700;
}
.app-tech {
  font-size: 16px;
  font-style: italic;
}
.app-image img {
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

/* COLOR LIBRARY ========================== */
  .color-red {
    color: rgb(238,36,36);
  }
  .color-purple {
    color: rgb(157,89,234);
  }
  .color-mod-purple {
    color: rgb(181,53,155)
  }
  .color-orange {
    color: rgb(254,153,0);
  }

/* FONT TRICKS ============================ */
  .bold {
    font-weight: 700;
  }
  .size-24 {
    font-size: 24px;
  }


/* CSS GRID =============================== */
.row {
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
}
.full-row {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col-3, .col-4, .col-6, .col-6-links, .col-12 {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding-left: 0%;
  padding-right: 0%;
}
.right {
  float: right;
}

/* SITE-WIDE VIEWPORT RESPONSE ========================== */
@media only screen and (max-width: 359px) and (orientation: portrait) {
  header {
    /* max-height: calc(33vh); */
  }
}
@media only screen and (min-width: 1024px) {
  .col-6 {
    width: 50%;
  }
  header {
    /* min-height: calc(42vh); */
    /* box-shadow: inset 0px 0px 6px 8px #000000e0; */
  }
  .spacer {
    height: 60px;
  }
  .banner-spacer {
    height: 60px;
  }
  .app-spacer {
    height: 55px;
  }
  .name {
    height: 150px;
    top: calc(50% - 75px);
  }
  #name {
    font-size: 55px;
    padding-top: 4px;
  }
  #title {
    font-size: 38px;
  }
}
@media only screen and (min-aspect-ratio: 6/5) {
  header {
    /* background-color: #141e30; */
    margin-top: 0px;
    margin-bottom: 0px;
    background-position: center 47px;
  }
}
