* {
  box-sizing: border-box;
  transition: all 0.5s
}
html, body {
  font-size: 16px;
  font: normal 400 18px lato, sans-serif;
  min-width: 320px; /* prevents layout from breaking on tiny screens */
}
a {
  color: inherit;
  text-decoration: none;
}
.top-bar {
  position: fixed;
  height: 46px;
  width: 100%;
  top: 0px;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0px 3px 3px 1px rgb(75, 75, 75);
  z-index: 9997;
}
.top-bar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.site-nav {
  display: none;
  float: left;
  text-align: center;
  padding: 10.5px 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgb(75, 75, 75);
}
.site-nav:hover {
  color: white;
  background-color: rgb(75, 75, 75);
}
.site-nav:focus {
  color: white;
  background-color: rgb(75, 75, 75);
}
.top-bar-black {
  position: fixed;
  height: 46px;
  width: 100%;
  top: 0px;
  background-color: #131d2e;
  z-index: 9997;
}
.vertical-nav {
  display: block;
  width: calc(100vw);
  background-color: white;
  box-shadow: 0px 3px 3px 1px #434343e0;
}
#seasons-thumbnail {
  width: 35px;
  height: 35px;
  margin: 6px 20px 5px 13px;
  float: left;
  padding: 0;
  background: url(../images/glass-montage-balanced-square-button.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hamburger-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1px;
  margin-right: 13px;
  float: right;
  padding: 0;
  font-size: 37px;
  color: rgb(75, 75, 75);
  display: block;
}
.screen-reader-text {
  border:0;   
  clip: rect(1px, 1px, 1px, 1px); 
  clip-path: inset(50%);
  height: 1px; 
  margin: -1px;
  width: 1px; 
  overflow: hidden; 
  position: absolute !important;
  word-wrap:normal !important;
}
header {
  position: relative;
  height: 100vh;
  color: white;
  text-shadow: 3px 3px 6px black;
  text-align: center;
  overflow: hidden;
}
.bg-img {
  /* will-change: transform; */
  position: absolute;
  left: calc((-100vh * 1.18634) * 0.5 - 100vw);
  right: calc((-100vh * 1.18634) * 0.5 - 100vw);
  top: 0;
  bottom: 0;
  background: url(../images/glass-montage-balanced-no-margin-top-and-bottom-half-sides.jpg) center top/auto 100vh
    repeat-x;
  z-index: -1;
  -webkit-animation-name: slide-bg;
  -webkit-animation-duration: 14s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes slide-bg {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(calc((-100vh * 1.18634)));
	}
}
.header-dark {
  box-shadow: 0px 4px 6px black !important;
}
.name {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.49);
  transition: display 2s;
}
#name {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 10px 0px 0px 0px;
}
#title {
  font-family: lato, sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 18px;
}
.portfolio-button {
  position: absolute;
  font: normal 700 18px lato, sans-serif;
  left: 0;
  right: 0;
  bottom: 5.8%;
} 
#portfolio-button {
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 16px;
  border-radius: 25px;
  background-color: rgb(18, 123, 177);
  border: 2px solid white;
}
#portfolio-button:hover {
  background-color: rgb(75, 75, 75);
  border: 2px solid rgb(75, 75, 75);
  color: white;
}
#portfolio-button:focus {
  color: white;
  background-color: rgb(75, 75, 75);
  border: 2px solid rgb(75, 75, 75);
}
.port-title {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  top: calc(50% - 14px);
  background-color: rgba(0,0,0,.08);  
  box-shadow: 0px 0px 30px rgba(0,0,0,.79);
}
.div-line-header {
  height: 1px;
  width: 95%;
  position: relative;
  top: 310px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #989898;
  position: absolute;
  z-index: -1;
}
.banner-spacer {
  height: 45px;
}
.spacer {
  height: 0px;
}
.p-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-top: 93px;
  margin-bottom: 11px;
}
.div-line {
  display: none;
  height: 1px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
}
.seasons-div {
  height: 18vh;
  box-shadow: 0px 0px 3px 2px #000000;
}
.spring {
  background:url(../images/glass-spring-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 28%;
  background-size: 100%;
  background-attachment: fixed;
}
.summer {
  background:url(../images/glass-summer-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 32%;
  background-size: 100%;
  background-attachment: fixed;
}
.autumn {
  background:url(../images/glass-fall-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 100%;
  background-attachment: fixed;
}
.winter {
  background:url(../images/glass-winter-2000px.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 100%;
  background-attachment: fixed;
}
.app-container {
  margin-top: 20px;
}
.app-spacer {
  height: 0px;
}
.app-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -.02em; /* = (Adobe XD line spacing / 1000)em */ 
  margin-top: 0px;
  margin-bottom: 10px;
}
.app-about {
  margin: 0px;
}
.app-links {
  font-weight: 700;
}
.app-tech {
  font-size: 16px;
  font-style: italic;
}
.app-image img {
  width: 102%;
  height: 100%;
  margin-top: -10px;
  margin-left: -1%;
}
.contact-links {
  font-weight: 700;
  line-height: 2.3rem;
}
.do-not-break {
  white-space: nowrap;
}
.end-spacer {
  box-shadow: 0px 0px 4px 6px #000000de;
}
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

/* COLOR LIBRARY ========================== */
  .color-red {
    color: rgb(238,7,0);
  }
  .color-purple {
    color: rgb(157,89,234);
  }
  .color-mod-purple {
    color: rgb(181,53,155)
  }
  .color-orange {
    color: rgb(254,153,0);
  }
  .color-blue {
    color: rgb(18, 123, 177);
  }
  
/* FONT TRICKS ============================ */
  .semi-bold {
    font-weight: 600;
  }  
  .bold {
    font-weight: 700;
  }
  .underline {
    text-decoration: underline;
  }
  .size-24 {
    font-size: 24px;
  }

/* CSS GRID =============================== */
.row {
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
}
.full-row {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col-3, .col-4, .col-6, .col-6-links, .col-12 {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding-left: 0%;
  padding-right: 0%;
}
.right {
  float: right;
}

/* SITE-WIDE VIEWPORT RESPONSE ========================== */
@media only screen and (min-width: 1024px) {
  .col-6 {
    width: 50%;
  }
  .spacer {
    height: 60px;
  }
  .banner-spacer {
    height: 60px;
  }
  .app-spacer {
    height: 55px;
  }
  #portfolio-button {
    font-size: 20px;
    padding: 8px 18px;
  }
  .name {
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.49);
  }
}
@media only screen and (min-width: 900px) {
  .site-nav {
    display: block;
  }
  #hamburger-button {
    display: none;
  }
  .name {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media only screen and (min-width: 460px) {
  .col-3, .col-4, .col-6, .col-6-links, .col-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
  #seasons-thumbnail {
    margin-left: 20px;
  }
  #hamburger-button {
    margin-right: 20px;
  }
}
@media only screen and (min-aspect-ratio: 6/5) {
  header {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .bg-img {
    left: calc(-100vw);
    right: calc(-100vw);
    background-position: center 4%;
    background-size: 100vw; /* Ignores desktop scrollbar (prevents stutter while animating) */
    -webkit-animation-duration: 15s;
  }
  @-webkit-keyframes slide-bg {
    from {
      -webkit-transform: translateX(0);
    }
    to { 
      -webkit-transform: translateX(-100vw);
    }
  }
  .name {
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.49);
  }
}
@media only screen and (min-aspect-ratio: 6/5) and (min-width: 1024px) {
  header {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .bg-img {
    left: calc(-100vw);
    right: calc(-100vw);
    background-position: center 15%;
    background-size: 100vw; /* Ignores desktop scrollbar (prevents stutter while animating) */
    -webkit-animation-duration: 15s;
  }
  @-webkit-keyframes slide-bg {
    from {
      -webkit-transform: translateX(0);
    }
    to { 
      -webkit-transform: translateX(-100vw);
    }
  }
  .name {
    padding-left: 26%;
    padding-right: 26%;
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.49);
  }
}
